__pycache__/
*.pyc
build/
obj_dir/
dist/
*.egg-info/
harden/rtl/
harden/logs/
harden/objects/
harden/reports/
harden/results/
tests/cocotb/gen/
tests/cocotb/sim_build_*/
tests/cocotb/results.xml
tests/cocotb/__pycache__/
